.modularity-mod-guide {
  position: relative;

  [data-mod-guide-toggle-key-content] {
    display: none;
  }

  .guide-sections {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-top:4px #ae0b05 solid
  }

  .section-1{
    border-top:none;
  }

  .c-card {
    position: relative;
    margin-bottom:20px;
  }

  .c-card__title {
    margin-left: 30px;
    button {
      display:none !important;
    }
  }

  .guide-pagination {
    padding-top:20px;

  }

  .c-option__radio{
    position: relative;
    margin-bottom:-45px;
    margin-left:20px;
    z-index:10;
    width:60px;
  }
}


.c-notice-guide {
  display:none;
  &.displayNotice {
    display:block;
    opacity: 1;
    transition: opacity 4s linear;
  }
}

.c-notice-fade-away {
  height:0px;
  width:0px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 6s, opacity 6s linear;
}


.mod-guide-todo-check {
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  border: 2px solid #000;
  width: 18px;
  height: 18px;
}

.mod-guide-checkboxes-required {
  font-size: .8em;
  font-weight: normal;
}


