.modularity-guide-todos {
  .c-loader {
    display: none;
    top: 20px;
  }
}

.modularity-guide-todos.is-loading {
  .c-loader {
    display: block;
  }
}

.modularity-guide-todos.is-disabled,
.modularity-guide-todos.is-loading {
  button[type="submit"] {
    opacity: 0.3;
    pointer-events: none;
  }
}

.modularity-mod-guide {
  z-index: 1;
  
  button > * {
    pointer-events: none;
  }

  .mod-guide-todo-list {
    border-radius: 4px;
    padding-bottom: 16px;
    padding-top: 16px;
    border: solid 1px #e5e5e5;
    width: 100%;
  }

  [data-mod-guide-toggle-key-content] {
    display: none;
  }

  .guide-sections {
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-top:4px #ae0b05 solid
  }

  .section-1{
    border-top:none;
  }

  .c-card {
    position: relative;
    margin-bottom:20px;
  }

  .c-card__title {
    margin-left: 30px;
    button {
      display:none !important;
    }
  }

  .guide-pagination {
    margin-top: calc(var(--base, 8px) * 3);
    padding-top: calc(var(--base, 8px) * 3);
    border-top: 3px dashed var(--color-border-divider); 
  }

  .c-option__radio {
    position: relative;
    margin-bottom:-45px;
    margin-left:20px;
    z-index:10;
    width:60px;
  }

  // Fix modal fixed position
  .c-accordion__content[aria-hidden="false"] {
    will-change: auto;
  }

  .c-option .c-option__checkbox--label-text, .c-option .c-option__radio--label-text {
    font-style: normal;
  }
}


.c-notice-guide {
  display:none;
  &.displayNotice {
    display:block;
    opacity: 1;
    transition: opacity 4s linear;
  }
}

.c-notice-fade-away {
  height:0px;
  width:0px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 6s, opacity 6s linear;
}


.mod-guide-todo-check {
  display: inline-block;
  position: relative;
  top: -1px;
  vertical-align: middle;
  border: 2px solid #000;
  width: 18px;
  height: 18px;
}

.mod-guide-checkboxes-required {
  font-size: .8em;
  font-weight: normal;
}

.mod-guide-checkboxes--checkbox {
  padding-bottom: 8px;
}

.modularity-guide-todos {
  .c-paper {
    border: 1px solid var(--color-primary);
    border-top-width: 6px;
    border-radius: 6px;
    padding: 16px;    
  }
  table {
    width: 100%;
    margin-top: 12px;
  }
  td {
    vertical-align: top;
    padding: 0 0 8px 0;
  }
  td:last-child {
    text-align: right;
    white-space: nowrap;
  }
}

